/* src/styles/global.css */
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@font-face {
  font-family: 'Big Noodle Titling';
  src: url('/public/fonts/big_noodle_titling.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* This helps it load smoothly */
}
.font-title {
  font-family: 'Big Noodle Titling';
}
.prose p + p {
  margin-top: 1.25em; 
}
html{scroll-behavior: smooth;}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* Move half way (we duplicate content) */
}

.animate-ticker {
  display: flex;
  width: max-content; /* Force content to be one long line */
  animation: scroll 30s linear infinite;
}

.animate-ticker:hover {
  animation-play-state: paused; /* Pause when user wants to click */
}

.prose h1, 
.prose h2, 
.prose h3, 
.prose h4 {
  font-family: 'Big Noodle Titling', sans-serif; /* Use the exact name of your font here */
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}