---
//pagina che mostra TUTTI i giocatori registrati

// --- IMPORT DI TUTTO IL NECESSARIO ---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import FilteredPlayerList from '../../components/FilteredPlayerList.tsx'; // importo il componente che fa da "filtro" per i giocatori

//recupero tutti i giocatori e squadre
const allPlayers = await getCollection('players');
const allTeams = await getCollection('teams');
---

<BaseLayout title="All OWCS Players">

  <h1 class="text-4xl font-bold text-white mb-8 font-title">OWCS Players</h1>

  {/*in base ai filtri applicati, mostriamo i giocatori. se non sono applicati filtri, mostriamo tutti */}
  <FilteredPlayerList 
    players={allPlayers} 
    teams={allTeams} 
    client:load 
  />

</BaseLayout>